ul.nav{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px dashed #000;
	float: left;
	width: 100%;
}

ul.nav a{
	display: block;
	width: 8em;
	border: 1px dashed #000;
	border-bottom: none;
	padding: 5px;
	margin-right: 5px;
	background-color: #eaeaea;
	text-decoration: none;
	color:#333;
	text-align: center;


}

ul.nav li{
	float: left;
}

h1{
	font-family: consolas;
	font-size: 100px;
}
ul.nav a:hover{
	background-color: #238654;
	margin-top: -2px;
	padding-bottom: 12px;
}