
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="samestyle.css">
	<meta charset="UTF-8">
	<title>三列自适应等高宽度自适应</title>
</head>
<body>
	
	<div class="wrap">
		<div class="left row">
			<h3>CRYSTAL CG</h3>
			<a href="">CRYSTAL CG</a>
		</div>
		<div class="right row">
		<h3>CRYSTAL CG</h3>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
		</div>
		<div class="center row">
			<h3>CRYSTAL CG</h3>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			<a href="">CRYSTAL CG</a><br/>
			 <span style="float:right; position:relative;"> </span>
		</div>

	</div>
</body>
</html>